<img src="/img/menu.png" class="close-button" onclick='$("#sidebar").width(0);'>
<h1 class="header">
    <a href="/">Tipper</a>
</h1>
<hr>
<a class="font-md list" href="/freeboard">자유게시판</a>
<a class="font-md list" href="/tipboard">팁 게시판</a>
<a class="font-md list" href="/tipboard/topten">- Tip Top Ten</a>
<a class="font-md list" href="/tipboard/weeklytip">- 금주의 꿀팁</a>