/* Board */

.page-title {
    padding-top: 100px;
    padding-bottom: 10px;
    margin: auto;
    width: 90%;
    color: #060636;
    font-weight: lighter;
}

.post-title {
    text-align: center;
    width: 67%;
    margin: 120px auto 50px auto;
    white-space: pre-line;
}

.post-title>h1 {
    font-size: 57px;
    color: #060636;
    text-align: center;
    font-weight: lighter;
}

.post-content {
    width: 55%;
    margin: 0 auto;
}

.post-data {
    margin: 60px 5px 60px 5px;
    font-size: 18px;
    font-weight: normal;
    white-space: pre-line;
    color: #060636;
}

.post-search-form {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.post-search {
    background-color: transparent;
    border: solid 1.2px rgb(158, 158, 159);
    border-radius: 12px 12px 12px 12px;
    width: 40%;
    font-size: 15px;
    color: rgb(126, 127, 128);
    padding: 6px 15px 6px 10px;
}

.post-info {
    height: 160px;
}

.post-stat {
    height: 150px;
    width: 15%;
    padding: 20px 0px 20px 0px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.post-stat i {
    padding-top: 5px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    color: grey;
    height: 25px;
    cursor: pointer;
}

.post-stat .stat-data {
    z-index: -1;
    position: absolute;
    padding-left: 40px;
    white-space: pre-wrap;
    display: inline-block;
    height: 25px;
    font-size: 25px;
    color: grey;
}

.post-stat>div {
    height: 30px;
    text-align: right;
}

.post-profile {
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    margin: 30px 5px 30px 0px;
}

.post-profile>img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
}

.profile-desc {
    padding-left: 100px;
    padding-top: 15px;
    justify-content: center;
    height: 100px;
    text-align: left;
    margin: auto 0px auto 20px;
    white-space: nowrap;
    display: inline-block;
}

.profile-desc>.profile-name {
    font-size: 32px;
    color: #060636;
}

.profile-desc>.profile-intro {
    font-size: 15spx;
    line-height: 15px;
    color: grey;
    font-weight: lighter;
}

.gray-info {
    display: flex;
    justify-content: space-between;
    color: rgb(149, 152, 154);
    padding: 5px;
    font-size: 20px;
    border-bottom: solid 1px rgb(149, 152, 154);
}

.gray-info>a {
    text-decoration: none;
    color: rgb(149, 152, 154);
    white-space: nowrap;
    display: inline-block;
}

.gray-info>.report-post {
    white-space: nowrap;
    display: inline-block;
    text-align: right;
}

.btn-main {
    font-size: 12px;
    font-family: "bold";
    width: 120px;
}

.board {
    margin-top: 20px;
    margin-bottom: 10px;
}

.board-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90%;
    color: rgb(126, 127, 128);
}

.board-list title {
    width: 60%;
    padding-left: 30px;
}

.board-list .post {
    cursor: pointer;
}

.pagenation {
    cursor: pointer;
    color: rgb(149, 152, 154);
    margin: 1px 5px 5px 1px;
}

.pagenation:hover {
    color: black;
    text-decoration: none;
}

.pagenation.disabled,
.pagenation.disabled:hover {
    color: rgb(130, 130, 130) !important;
    cursor: not-allowed;
}

.pagenation.active {
    color: black !important;
}


/* Posting */

.posting {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 100px;
    margin-bottom: 30px;
}

.posting>.header {
    font-weight: bold;
    margin-bottom: 30px;
}

.posting hr {
    color: rgb(149, 152, 154);
    height: 0.1px;
    margin-top: 0px;
    background-color: rgb(163, 164, 165);
}

.posting .title {
    width: 100%;
    font-size: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1.5px rgb(149, 152, 154);
    margin-bottom: 20px;
    color: rgb(149, 152, 154);
    font-weight: bold;
}

.posting .title::-webkit-input-placeholder {
    color: rgb(182, 182, 182);
}

.input-comment {
    width: 100%;
    height: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    color: grey;
}

.input-comment::-webkit-scrollbar {
    display: none;
}

.comment-btn {
    z-index: 10;
    border-radius: 20px 20px 20px 20px;
    width: 100px;
    position: absolute;
    margin-left: -120px;
    margin-top: 120px;
    background-color: white;
}

.ck-editor__editable {
    min-height: 400px;
}

.posting .submit {
    text-align: right;
}

.posting .submit>input {
    background: none;
    border: none;
    transition: 0s font-size;
    font-size: 18px;
    color: rgb(149, 152, 154);
}

.posting .submit:hover {
    font-size: 20px;
    transition-delay: 0.1s;
}

.upload-btn-group {
    margin-top: 10px;
}

.upload-btn {
    height: 35px;
    width: 35px;
    display: inline-block;
}

.upload-btn>input {
    display: none;
}

.upload-btn i {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 25px;
    color: rgb(149, 152, 154);
}