/* Dashboard */

.dashboard,
.dashboard-admin {
    background-color: rgb(149, 152, 154);
    height: 450px;
    width: 100%;
    text-align: center;
    color: white;
    display: table;
}

.dashboard>div,
.dashboard-admin>div {
    display: table-cell;
    vertical-align: middle;
}

.dashboard .header,
.dashboard-admin .header {
    font-weight: bold;
    margin-bottom: 60px;
}

.box {
    padding-left: 25px;
    padding-right: 25px;
}

.box-border-l {
    border-left: solid 0.1px white;
}

.box-border-r {
    border-right: solid 0.1px white;
}

.box-border-rm {
    border-right: solid 0.1px white;
    margin-right: -5px;
}

.dashboard .list,
.dashboard-admin .list {
    margin: 20px auto 0px auto;
    width: 750px;
}

.dashboard .list>div,
.dashboard-admin .list>div {
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.page-select {
    width: 100%;
    text-align: center;
}

.page-select div {
    height: 200px;
    width: 300px;
    margin: 30px 5px 0px 5px;
    display: inline-block;
    border: 1px solid skyblue;
    border-radius: 10px;
    cursor: pointer;
}

.page-select div div {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
}