/* Banner */

.banner {
    height: 300px;
    width: 100%;
    color: white;
    display: table;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner>div {
    display: table-cell;
    vertical-align: middle;
    height: 400px;
}

.banner .header1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.banner .header2 {
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 60px;
}


/* Tip Top Ten */

.tip-top-ten {
    background-image: url("../img/tiptopten.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center left;
    padding: 20px 0px;
}

.tip-top-ten .header {
    color: black;
    padding-top: 30px;
    padding-left: 400px;
    font-size: 40px;
}

.tip-top-ten p {
    font-size: 15px;
    padding-left: 400px;
    color: grey;
    padding-top: 10px;
}

.tip-top-ten button {
    margin-left: 400px;
}

.tip-top-ten>.cards {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: auto;
    white-space: nowrap;
}

.tip-card {
    display: inline-block;
}


/* Weekly Tip */

.weekly-tip {
    background-image: url("../img/cry.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.weekly-tip .header {
    padding-top: 65px;
    font-size: 15px;
    color: white;
}

.weekly-tip .title {
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.weekly-tip hr {
    border: none;
    height: 1px;
    background-color: white;
    color: white;
    width: 120px;
}

.weekly-tip>.cards {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: auto;
    white-space: nowrap;
}


/* Postcard */

.cards::-webkit-scrollbar-track {
    background-color: #b46868;
}

.cards::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.cards::-webkit-scrollbar-button {
    background-color: #7c2929;
}

.cards::-webkit-scrollbar-corner {
    background-color: black;
}

.postcard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    text-align: center;
    background-color: white;
    width: 210px;
    height: 190px;
    position: relative;
    cursor: pointer;
}

.postcard img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.postcard h3 {
    color: white;
    font-weight: lighter;
    z-index: 3;
    position: absolute;
    margin-top: -180px;
    padding: 10px;
    white-space: pre-line;
    text-align: center;
}

.more-card h4 {
    font-size: 20px;
    color: #060636;
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: "Roboto script=all rev=2";
}

.more-card {
    border: 2px solid #060636;
    background-color: rgba(255, 255, 255, 0.5);
}

.more-card:hover {
    border: 2px solid #060636;
    color: white;
}

.more-card:hover h4 {
    font-size: 24px;
    margin-top: 76px;
    margin-bottom: 76px;
}

.postcard .green-filter {
    width: 100%;
    height: 100%;
    background-color: green;
    filter: opacity(0.3) brightness(65%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

.postcard .green-filter:hover {
    width: 100%;
    height: 100%;
    background-color: white;
    filter: opacity(0.2) brightness(40%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

.postcard .blue-filter {
    width: 100%;
    height: 100%;
    background-color: #060636;
    filter: opacity(0.3) brightness(65%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

.postcard .blue-filter:hover {
    width: 100%;
    height: 100%;
    background-color: white;
    filter: opacity(0.2) brightness(40%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}