<!DOCTYPE html>
<html>
    <head>
<% include ../component/head %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <link rel="stylesheet" type="text/css" href="/css/account.css">
    </head>
    <body>
        <nav id="sidebar" class="sidebar">
<% include ../component/sidebar %>
        </nav>
        <nav class="navbar">
<% include ../component/navbar %>
        </nav>
        <div class="base-container">
            <div class="div-center">
                <div class="paddin mb-2"></div>
                <div class="div-logo">
                    <img src="/img/logo.png" alt="Tipper Logo" class="logo">        
                </div>
                <div class="form-group mt-5">
                    <form action="/users/login" method="post">
                        <div class="paddin">
                            <input type="text" placeholder="아이디" id="id" class="input-account" name="id" required>  
                        </div>
                        <div class="paddin">
                            <input type="password" placeholder="비밀번호" id="pw" class="input-account" name="pw" required>
                        </div>
                        <div class="paddin">
                            <button type="submit" class="btn btn-success button-account">로그인</button> 
                        </div>
                    </form>
                    <div class="flash-message">
                        <%= error %>
                    </div>
                    <div class="paddin">
                        <div style="margin:auto">
                            <div class="account-breadcrumb">
                                <a href="/users/find/id" class="link-account">ID 찾기</a>  /  
                                <a href="/users/find/pw" class="link-account">PW 찾기</a>  /  
                                <a href="/users/register" class="link-account">회원가입</a>
                            </div>
                            <a class="btn btn-block btn-social btn-sm btn-facebook social-login" href="/users/login/facebook">
                                <i class="fa fa-facebook"></i>
                                Sign in with Facebook
                            </a>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </body>
</html>