/* Vue.js */

[v-cloak] {
    display: none;
}


/* Font */

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 15px;
}

.font-lg {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.strong {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.gray {
    color: #999999;
}


/* Edge */

.soft-edge {
    border-radius: 5px 5px 5px 5px;
}

.round-edge {
    border-radius: 15px 15px 15px 15px;
}

.more-rounded-edge {
    border-radius: 20px 20px 20px 20px;
    margin: 0 10px;
}

/* Body */

body {
    background-color: white;
    box-sizing: border-box;
    white-space: nowrap !important;
}


/* Focus */

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/* Top Navigation */

.navbar {
    padding: 8px 16px;
    height: 47px;
    position: fixed;
    top: 0px;
    background-color: #060636;
    z-index: 99;
    width: 100%;
}

.navbar-brand {
    cursor: pointer;
}

.dropdown-content {
    top: 35px;
    right: -10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9998;
}

.dropdown-content a {
    background-color: rgb(66, 66, 114);
    color: #DDDDDD;
    font-size: 12px;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    right: 90px;
}

.dropdown-content a:hover {
    background-color: rgb(98, 98, 144);
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>button {
    color: white !important;
    background-color: transparent;
    border: 0;
    font-size: 10pt;
    text-decoration: none;
    cursor: pointer;
}

.dropdown>button:hover {
    color: #CCCCCC !important;
}

.dropdown-profile {
    color: white;
    background-color: rgb(96, 96, 255);
    height: 40px;
    padding: 6px 14px;
}

.topnav-margin {
    margin-top: 47px;
}

.search-input {
    width: 250px;
    border: 1.2px;
    border-style: solid;
    background-color: transparent;
    border-color: white;
    color: white;
    padding-left: 10px;
    padding-right: 25px;
    background-image: url("../img/search.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
}

.search-input:focus {
    outline: none;
}


/* Sidebar */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #03031e;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .header {
    font-size: 35px;
    padding: 20px 4px 4px 20px;
    color: #DDDDDD;
    transition: 0.3s;
}

.sidebar a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: white;
}

.sidebar .list {
    padding: 6px 6px 6px 20px;
}
#max-th{
    width : 60%;
    padding-left : 30px;
}

.sidebar hr {
    margin-left: 20px;
    background-color: #818181;
    color: #818181;
    height: 1px;
    width: 190px;
    /*border 속성을 없애야됨*/
}

.sidebar .close-button {
    cursor: pointer;
    padding: 13px 16px;
}


/* Banner */

.banner {
    height: 300px;
    width: 100%;
    color: white;
    display: table;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner>div {
    display: table-cell;
    vertical-align: middle;
    height : 400px;
}

.banner .header1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.banner .header2 {
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 60px;
}
#board-title{
    padding-top : 150px;
    padding-bottom : 10px;
    color : #060636;
    font-weight: lighter;
}
#grey-info{
    color : rgb(149,152,154);
    padding: 5px;
    font-size : 20px;
    border-bottom : solid 1px rgb(149,152,154);
}
#grey-info a{
    text-decoration: none;
    color : rgb(149,152,154);
}

.btn-main {
    font-size: 12px;
    font-family: "bold";
    width: 120px;
}


/* Tip Top Ten */

.tip-top-ten {
    background-image: url("../img/tiptopten.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center left;
    padding: 20px 0px;
}

.tip-top-ten .header {
    color: black;
    padding-top: 30px;
    padding-left: 400px;
    font-size: 40px;
}

.tip-top-ten p {
    font-size: 15px;
    padding-left: 400px;
    color: grey;
    padding-top: 10px;
}

.tip-top-ten button {
    margin-left: 400px;
}

.tip-top-ten>.cards {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: auto;
    white-space: nowrap;
}

.tip-card {
    display: inline-block;
}


/* Weekly Tip */

.weekly-tip {
    background-image: url("../img/cry.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.weekly-tip .header {
    padding-top: 65px;
    font-size: 15px;
    color: white;
}

.weekly-tip .title {
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.weekly-tip hr {
    border: none;
    height: 1px;
    background-color: white;
    color: white;
    width: 120px;
}

.weekly-tip>.cards {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: auto;
    white-space: nowrap;
}


/* Postcard */

.cards::-webkit-scrollbar-track {
    background-color: #b46868;
}

.cards::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
}

.cards::-webkit-scrollbar-button {
    background-color: #7c2929;
}

.cards::-webkit-scrollbar-corner {
    background-color: black;
}

.postcard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    text-align: center;
    background-color: white;
    width: 210px;
    height: 190px;
    position: relative;
    cursor: pointer;
}

.postcard img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.postcard h3 {
    color: white;
    font-weight: lighter;
    z-index: 3;
    position: absolute;
    margin-top: -190px;
    padding: 15px;
    white-space: pre-line;
    text-align: left;
}

.more-card h4 {
    font-size: 20px;
    color: #060636;
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: "Roboto script=all rev=2";
}

.more-card {
    border: 2px solid #060636;
    background-color: rgba(255, 255, 255, 0.5);
}

.more-card:hover {
    border: 2px solid #060636;
    color: white;
}

.more-card:hover h4 {
    font-size: 24px;
    margin-top: 76px;
    margin-bottom: 76px;
}

.postcard .green-filter {
    width: 100%;
    height: 100%;
    background-color: green;
    filter: opacity(0.3) brightness(65%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

.postcard .green-filter:hover {
    width: 100%;
    height: 100%;
    background-color: white;
    filter: opacity(0.2) brightness(40%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

.postcard .blue-filter {
    width: 100%;
    height: 100%;
    background-color: #060636;
    filter: opacity(0.3) brightness(65%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

.postcard .blue-filter:hover {
    width: 100%;
    height: 100%;
    background-color: white;
    filter: opacity(0.2) brightness(40%);
    z-index: 0;
    position: absolute;
    margin-top: -190px;
}

/* Dashboard */

.dashboard,
.dashboard-admin {
    background-color: rgb(149, 152, 154);
    height: 450px;
    width: 100%;
    text-align: center;
    color: white;
    display: table;
}

.dashboard>div,
.dashboard-admin>div {
    display: table-cell;
    vertical-align: middle;
}

.dashboard .header,
.dashboard-admin .header {
    font-weight: bold;
    margin-bottom: 80px;
}

.box-border-l {
    padding-right: 25px;
    border-right: solid 0.1px white;
}

.box-border-r {
    padding-left: 25px;
    border-left: solid 0.1px white;
}

.dashboard .list,
.dashboard-admin .list {
    margin: 0 auto;
    width: 750px;
}

.dashboard .list>div,
.dashboard-admin .list>div {
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}


/* Board */

.post-search-form {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.post-search {
    background-color: transparent;
    border: solid 1.2px rgb(158, 158, 159);
    border-radius: 12px 12px 12px 12px;
    width: 40%;
    font-size: 15px;
    color: rgb(126, 127, 128);
    padding: 6px 15px 6px 10px;
}

.board-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 68%;
    color: rgb(126, 127, 128);
}

.pagenation {
    cursor: pointer;
    color: rgb(149, 152, 154);
    margin: 1px 5px 5px 1px;
}

.pagenation:hover {
    color: black;
    text-decoration: none;
}

.pagenation.active {
    color: black;
}


/* Posting */

.posting {
    margin-left: auto;
    margin-right: auto;
    width: 51%;
    padding-top: 100px;
    margin-bottom: 30px;
}

.posting>.header {
    font-weight: bold;
    margin-bottom: 30px;
}

.posting hr {
    color: rgb(149, 152, 154);
    height: 0.1px;
    margin-top: 0px;
    background-color: rgb(163, 164, 165);
}

.posting .title {
    width: 100%;
    font-size: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1.5px rgb(149, 152, 154);
    margin-bottom: 20px;
    color: rgb(149, 152, 154);
    font-weight: bold;
}

.posting .title::-webkit-input-placeholder {
    color: rgb(182, 182, 182);
}

.ck-editor__editable {
    min-height: 400px;
}

.posting .submit {
    text-align: right;
}

.posting .submit>input {
    background: none;
    border: none;
    transition: 0s font-size;
    font-size: 18px;
    color: rgb(149, 152, 154);
}

.posting .submit:hover {
    font-size: 20px;
    transition-delay: 0.1s;
}

.upload-btn-group {
    margin-top: 10px;
}

.upload-btn {
    height: 35px;
    width: 35px;
    display: inline-block;
}

.upload-btn>input {
    display: none;
}

.upload-btn i {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 25px;
    color: rgb(149, 152, 154);
}


/* Footer */

.footer-logo {
    margin: 20px 0px 10px 0px;
    width: 200px;
}

.copyright {
    margin: 5px 0px 15px 0px;
}


/* Function */

.show {
    display: block;
}