<!DOCTYPE html>
<html>
    <head>
<% include ./head %>
        <link rel="stylesheet" type="text/css" href="/css/admin.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    </head>
    <body>
        <nav id="sidebar" class="sidebar">
<% include ./sidebar %>
        </nav>
        <nav class="navbar">
<% include ./navbar %>
        </nav>
        <div class="dashboard-admin topnav-margin">
            <div>
                <h1 class="header">환영합니다. <%= admin.adminType %> <%= user.username %> 님</h1>
                <div class="list" align="centers">
                    <div class="box box-border-l box-border-rm">
                        <p>총 팁 수</p>
                        <h1><%= admin.tipNum %>개</h1>
                    </div>
                    <div class="box box-border-r">
                        <p>총 자유글 수</p>
                        <h1><%= admin.fbPostNum %>개</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-page-select">
            <div>
                <div>
                    팁 게시판 관리
                </div>
            </div>
            <div>
                <div>
                    자유게시판 관리
                </div>
            </div>
            <div>
                <div>
                    사용자 관리
                </div>
            </div>
        </div>
        <footer>
<% include ./footer %>
        </footer>
    </body>
</html>